<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardController</servlet-name>
        <servlet-class>Controllers.DashBoardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmployeesController</servlet-name>
        <servlet-class>Controllers.Employee.GetEmployeesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployeeByRoleController</servlet-name>
        <servlet-class>Controllers.Employee.SearchEmployeeByRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployeeByNameController</servlet-name>
        <servlet-class>Controllers.Employee.SearchEmployeeByNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeeController</servlet-name>
        <servlet-class>Controllers.Employee.AddEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmployeeByIDController</servlet-name>
        <servlet-class>Controllers.Employee.GetEmployeeByIDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DentistController</servlet-name>
        <servlet-class>Controllers.Dentist.DentistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DentistProfileController</servlet-name>
        <servlet-class>Controllers.Dentist.DentistProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDentistController</servlet-name>
        <servlet-class>Controllers.Dentist.EditDentistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeController</servlet-name>
        <servlet-class>Controllers.Employee.EditEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnEmployeeController</servlet-name>
        <servlet-class>Controllers.Employee.ReturnEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadService</servlet-name>
        <servlet-class>Controllers.loadService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadServiceController</servlet-name>
        <servlet-class>Controllers.Service.loadServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addServiceController</servlet-name>
        <servlet-class>Controllers.Service.addServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editServiceController</servlet-name>
        <servlet-class>Controllers.Service.editServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServiceController</servlet-name>
        <servlet-class>Controllers.Service.updateServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServiceController</servlet-name>
        <servlet-class>Controllers.Service.deleteServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDentistController</servlet-name>
        <servlet-class>Controllers.Dentist.CreateDentistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDentistController</servlet-name>
        <servlet-class>Controllers.Dentist.DeleteDentistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreDentistController</servlet-name>
        <servlet-class>Controllers.Dentist.LoadMoreDentistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackDentistController</servlet-name>
        <servlet-class>Controllers.Feedback.ViewFeedbackDentistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackServiceController</servlet-name>
        <servlet-class>Controllers.Feedback.ViewFeedbackServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFeedbackDentistController</servlet-name>
        <servlet-class>Controllers.Feedback.SearchFeedbackDentistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFeedbackServiceController</servlet-name>
        <servlet-class>Controllers.Feedback.SearchFeedbackServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackDentistController</servlet-name>
        <servlet-class>Controllers.Feedback.DeleteFeedbackDentistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackServiceController</servlet-name>
        <servlet-class>Controllers.Feedback.DeleteFeedbackServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnServiceController</servlet-name>
        <servlet-class>Controllers.Service.ReturnServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceByNameController</servlet-name>
        <servlet-class>Controllers.Service.SearchServiceByNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortServiceController</servlet-name>
        <servlet-class>Controllers.Service.SortServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortDateAdvisoryController</servlet-name>
        <servlet-class>Controllers.Advisory.SortDateAdvisoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPatient</servlet-name>
        <servlet-class>Controllers.Patient.AddPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePatient</servlet-name>
        <servlet-class>Controllers.Patient.DeletePatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient</servlet-name>
        <servlet-class>Controllers.Patient.Patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatient</servlet-name>
        <servlet-class>Controllers.Patient.SearchPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeController</servlet-name>
        <servlet-class>Controllers.Employee.DeleteEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMyProfileController</servlet-name>
        <servlet-class>Controllers.EditMyProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAdvisoryController</servlet-name>
        <servlet-class>Controllers.Advisory.GetAdvisoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletedAdvisoryController</servlet-name>
        <servlet-class>Controllers.Advisory.CompletedAdvisoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadServiceMarketingController</servlet-name>
        <servlet-class>Controllers.Service.loadServiceMarketingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAppointmentController</servlet-name>
        <servlet-class>Controllers.Appointment.CreateAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAppointmentController</servlet-name>
        <servlet-class>Controllers.Appointment.EditAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAppointmentController</servlet-name>
        <servlet-class>Controllers.Appointment.SearchAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controllers.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingDentistController</servlet-name>
        <servlet-class>Controllers.Dentist.MarketingDentistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingDentistProfileController</servlet-name>
        <servlet-class>Controllers.Dentist.MarketingDentistProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingLoadMoreDentistController</servlet-name>
        <servlet-class>Controllers.Dentist.MarketingLoadMoreDentistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>javaMailController</servlet-name>
        <servlet-class>Controllers.javaMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmMailController</servlet-name>
        <servlet-class>Controllers.confirmMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>Controllers.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillController</servlet-name>
        <servlet-class>Controllers.Bill.BillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserStatus</servlet-name>
        <servlet-class>Controllers.Bill.SearchUserStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceUserController</servlet-name>
        <servlet-class>Controllers.Service.ServiceUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceUserByNameController</servlet-name>
        <servlet-class>Controllers.Service.SearchServiceUserByNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnServiceUserController</servlet-name>
        <servlet-class>Controllers.Service.ReturnServiceUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDentistController</servlet-name>
        <servlet-class>Controllers.Customer.ShowDentistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreDentistByCustomerController</servlet-name>
        <servlet-class>Controllers.Customer.LoadMoreDentistByCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAdvisoryController</servlet-name>
        <servlet-class>Controllers.Advisory.CreateAdvisoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileDentistByCustomerController</servlet-name>
        <servlet-class>Controllers.Customer.profileDentistByCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TreatmentCourseController</servlet-name>
        <servlet-class>Controllers.Treatment.TreatmentCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TreatmentCourseDetailController</servlet-name>
        <servlet-class>Controllers.Treatment.TreatmentCourseDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAppointmentController</servlet-name>
        <servlet-class>Controllers.Appointment.GetAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletedAppointmentController</servlet-name>
        <servlet-class>Controllers.Appointment.CompletedAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAppointmentDateController</servlet-name>
        <servlet-class>Controllers.Appointment.CheckAppointmentDateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTreatmentOfDentistController</servlet-name>
        <servlet-class>Controllers.Treatment_Dentist.ViewTreatmentOfDentistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTreatmentDetailOfDentistController</servlet-name>
        <servlet-class>Controllers.Treatment_Dentist.ViewTreatmentDetailOfDentistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTreatmentDetailController</servlet-name>
        <servlet-class>Controllers.Treatment_Dentist.EditTreatmentDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTreatmentDetailByID</servlet-name>
        <servlet-class>Controllers.Treatment_Dentist.getTreatmentDetailByID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTreatmentDetailController</servlet-name>
        <servlet-class>Controllers.Treatment_Dentist.AddTreatmentDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTreatmentCourseController</servlet-name>
        <servlet-class>Controllers.Treatment_Dentist.SearchTreatmentCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTreatmentCourseByRoll</servlet-name>
        <servlet-class>Controllers.Treatment.SearchTreatmentCourseByRoll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTreatmentCourseController</servlet-name>
        <servlet-class>Controllers.Treatment_Dentist.AddTreatmentCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRollToJSPController</servlet-name>
        <servlet-class>Controllers.Treatment_Dentist.SendRollToJSPController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookController</servlet-name>
        <servlet-class>Controllers.Facebook.LoginFacebookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>Controllers.Google.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserLoginByFacebookController</servlet-name>
        <servlet-class>Controllers.Facebook.InsertUserLoginByFacebookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserLoginByGoogleController</servlet-name>
        <servlet-class>Controllers.Google.InsertUserLoginByGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfileUser</servlet-name>
        <servlet-class>Controllers.Patient.ChangeProfileUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>Controllers.Patient.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTreatmentCourseDataController</servlet-name>
        <servlet-class>Controllers.Feedback.GetTreatmentCourseDataController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedBackController</servlet-name>
        <servlet-class>Controllers.Feedback.AddFeedBackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreFeedbackDentistController</servlet-name>
        <servlet-class>Controllers.Feedback.LoadMoreFeedbackDentistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreFeedbackServiceController</servlet-name>
        <servlet-class>Controllers.Feedback.LoadMoreFeedbackServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAppointmentController</servlet-name>
        <servlet-class>Controllers.Appointment.LoadAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDentistIsFree</servlet-name>
        <servlet-class>Controllers.Dentist.CheckDentistIsFreeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangTimeTreatmentCourseDetailsController</servlet-name>
        <servlet-class>Controllers.Treatment.ChangTimeTreatmentCourseDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTreatmentInvoicesOfDentistController</servlet-name>
        <servlet-class>Controllers.Treatment_Dentist.ViewTreatmentInvoicesOfDentistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoicesDetailOfDentistController</servlet-name>
        <servlet-class>Controllers.Treatment_Dentist.InvoicesDetailOfDentistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoicesConfirmController</servlet-name>
        <servlet-class>Controllers.Treatment_Dentist.InvoicesConfirmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDateTimeAppointmentController</servlet-name>
        <servlet-class>Controllers.Appointment.EditDateTimeAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAppointmentController</servlet-name>
        <servlet-class>Controllers.Appointment.UpdateAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTreamentDetailController</servlet-name>
        <servlet-class>Controllers.Treatment_Dentist.DeleteTreamentDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmployeesController</servlet-name>
        <url-pattern>/GetEmployeesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployeeByRoleController</servlet-name>
        <url-pattern>/SearchEmployeeByRoleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployeeByNameController</servlet-name>
        <url-pattern>/SearchEmployeeByNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmployeeByIDController</servlet-name>
        <url-pattern>/GetEmployeeByIDController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DentistController</servlet-name>
        <url-pattern>/DentistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DentistProfileController</servlet-name>
        <url-pattern>/DentistProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDentistController</servlet-name>
        <url-pattern>/EditDentistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeController</servlet-name>
        <url-pattern>/EditEmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnEmployeeController</servlet-name>
        <url-pattern>/ReturnEmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadService</servlet-name>
        <url-pattern>/loadService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadServiceController</servlet-name>
        <url-pattern>/loadServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addServiceController</servlet-name>
        <url-pattern>/addServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editServiceController</servlet-name>
        <url-pattern>/editServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServiceController</servlet-name>
        <url-pattern>/updateServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServiceController</servlet-name>
        <url-pattern>/deleteServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDentistController</servlet-name>
        <url-pattern>/CreateDentistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDentistController</servlet-name>
        <url-pattern>/DeleteDentistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreDentistController</servlet-name>
        <url-pattern>/LoadMoreDentistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackDentistController</servlet-name>
        <url-pattern>/ViewFeedbackDentistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackServiceController</servlet-name>
        <url-pattern>/ViewFeedbackServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFeedbackDentistController</servlet-name>
        <url-pattern>/SearchFeedbackDentistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFeedbackServiceController</servlet-name>
        <url-pattern>/SearchFeedbackServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackDentistController</servlet-name>
        <url-pattern>/DeleteFeedbackDentistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackServiceController</servlet-name>
        <url-pattern>/DeleteFeedbackServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeController</servlet-name>
        <url-pattern>/AddEmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardController</servlet-name>
        <url-pattern>/DashBoardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnServiceController</servlet-name>
        <url-pattern>/ReturnServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceByNameController</servlet-name>
        <url-pattern>/SearchServiceByNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortServiceController</servlet-name>
        <url-pattern>/SortServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPatient</servlet-name>
        <url-pattern>/AddPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePatient</servlet-name>
        <url-pattern>/DeletePatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient</servlet-name>
        <url-pattern>/Patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatient</servlet-name>
        <url-pattern>/SearchPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeController</servlet-name>
        <url-pattern>/DeleteEmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMyProfileController</servlet-name>
        <url-pattern>/EditMyProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAdvisoryController</servlet-name>
        <url-pattern>/GetAdvisoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletedAdvisoryController</servlet-name>
        <url-pattern>/CompletedAdvisoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadServiceMarketingController</servlet-name>
        <url-pattern>/loadServiceMarketingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAppointmentController</servlet-name>
        <url-pattern>/CreateAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAppointmentController</servlet-name>
        <url-pattern>/EditAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAppointmentController</servlet-name>
        <url-pattern>/SearchAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingDentistController</servlet-name>
        <url-pattern>/MarketingDentistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingDentistProfileController</servlet-name>
        <url-pattern>/MarketingDentistProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingLoadMoreDentistController</servlet-name>
        <url-pattern>/MarketingLoadMoreDentistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortDateAdvisoryController</servlet-name>
        <url-pattern>/SortDateAdvisoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>javaMailController</servlet-name>
        <url-pattern>/javaMailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmMailController</servlet-name>
        <url-pattern>/confirmMailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillController</servlet-name>
        <url-pattern>/BillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserStatus</servlet-name>
        <url-pattern>/SearchUserStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceUserController</servlet-name>
        <url-pattern>/ServiceUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceUserByNameController</servlet-name>
        <url-pattern>/SearchServiceUserByNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnServiceUserController</servlet-name>
        <url-pattern>/ReturnServiceUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDentistController</servlet-name>
        <url-pattern>/ShowDentistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreDentistByCustomerController</servlet-name>
        <url-pattern>/LoadMoreDentistByCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAdvisoryController</servlet-name>
        <url-pattern>/CreateAdvisoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileDentistByCustomerController</servlet-name>
        <url-pattern>/profileDentistByCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TreatmentCourseController</servlet-name>
        <url-pattern>/TreatmentCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TreatmentCourseDetailController</servlet-name>
        <url-pattern>/TreatmentCourseDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAppointmentController</servlet-name>
        <url-pattern>/GetAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletedAppointmentController</servlet-name>
        <url-pattern>/CompletedAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAppointmentDateController</servlet-name>
        <url-pattern>/CheckAppointmentDateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTreatmentOfDentistController</servlet-name>
        <url-pattern>/ViewTreatmentOfDentistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTreatmentDetailOfDentistController</servlet-name>
        <url-pattern>/ViewTreatmentDetailOfDentistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTreatmentDetailController</servlet-name>
        <url-pattern>/EditTreatmentDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTreatmentDetailByID</servlet-name>
        <url-pattern>/getTreatmentDetailByID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTreatmentDetailController</servlet-name>
        <url-pattern>/AddTreatmentDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTreatmentCourseController</servlet-name>
        <url-pattern>/SearchTreatmentCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTreatmentCourseByRoll</servlet-name>
        <url-pattern>/SearchTreatmentCourseByRoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTreatmentCourseController</servlet-name>
        <url-pattern>/AddTreatmentCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRollToJSPController</servlet-name>
        <url-pattern>/SendRollToJSPController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFacebookController</servlet-name>
        <url-pattern>/LoginFacebookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/LoginGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserLoginByFacebookController</servlet-name>
        <url-pattern>/InsertUserLoginByFacebookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserLoginByGoogleController</servlet-name>
        <url-pattern>/InsertUserLoginByGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfileUser</servlet-name>
        <url-pattern>/ChangeProfileUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/UserProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTreatmentCourseDataController</servlet-name>
        <url-pattern>/GetTreatmentCourseDataController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedBackController</servlet-name>
        <url-pattern>/AddFeedBackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreFeedbackDentistController</servlet-name>
        <url-pattern>/LoadMoreFeedbackDentistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreFeedbackServiceController</servlet-name>
        <url-pattern>/LoadMoreFeedbackServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAppointmentController</servlet-name>
        <url-pattern>/LoadAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDentistIsFree</servlet-name>
        <url-pattern>/CheckDentistIsFree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangTimeTreatmentCourseDetailsController</servlet-name>
        <url-pattern>/ChangTimeTreatmentCourseDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTreatmentInvoicesOfDentistController</servlet-name>
        <url-pattern>/ViewTreatmentInvoicesOfDentistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoicesDetailOfDentistController</servlet-name>
        <url-pattern>/InvoicesDetailOfDentistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoicesConfirmController</servlet-name>
        <url-pattern>/InvoicesConfirmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDateTimeAppointmentController</servlet-name>
        <url-pattern>/EditDateTimeAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAppointmentController</servlet-name>
        <url-pattern>/UpdateAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTreamentDetailController</servlet-name>
        <url-pattern>/DeleteTreamentDetailController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>100</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
